<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.punishment.mapper.StudentMapper">
    <update id="clearCirculateCriticism">
        UPDATE student
        SET punishment_level = FLOOR(punishment_level)
        WHERE punishment_level LIKE '%.5'
    </update>
</mapper>
