<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.punishment.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.punishment.domain.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentCode" column="student_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="punishmentLevel" column="punishment_level" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_code,name,
        sex,punishment_level
    </sql>
    <update id="clearCirculateCriticism">
        UPDATE student
        SET punishment_level = FLOOR(punishment_level)
        WHERE punishment_level LIKE '%.5'
    </update>
    <select id="selectOne" resultType="com.punishment.domain.Student">
        select * from student
        <where>
            <if test="studentBo.studentCode != null and studentBo.studentCode != ''">
                and student_code = #{studentBo.studentCode}
            </if>
            <if test="studentBo.studentCode != null and studentBo.studentCode != ''">
                and student_code = #{studentBo.studentCode}
            </if>
        </where>
    </select>
</mapper>
